<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <th:block th:replace="_parts/head :: meta"/>
  <title>共通のヘッダー</title>
  <th:block th:replace="_parts/head :: css"/>
</head>
<body>
<header th:fragment="main(title)">
  <header>
    <div class="px-3 py-2 text-bg-primary">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white fs-1" th:text="${title}">
          </span>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" th:href="@{/static}" class="nav-link text-white">
                <i class="bi bi-house-door"></i>Home
              </a>
            </li>

            <li>
              <a href="#" th:href="@{/application-forms}" class="nav-link text-white">
                <i class="bi bi-table"></i>申請一覧
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white" id="logout">
                <i class="bi bi-door-closed"></i>
                ログアウト
              </a>
            </li>
            <li>
              <i class="bi bi-person-circle"></i>
              <span sec:authentication="principal.username"></span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </header>
  <form th:action="@{/logout}" method="post" id="logout-form">
  </form>
  <script>
    document.getElementById('logout').addEventListener('click', () => {
      document.getElementById('logout-form').submit();
    })
  </script>
</header>

</body>
</html>
