<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="workflow.infrastructure.datasource.form.ApplicationFormMapper">

    <insert id="register">
        INSERT INTO ワークフロー.申請書 (申請ID, 金額, 用途)
        VALUES (#{applicationFormId.value},
                #{applicationForm.amount.value},
                #{applicationForm.usage})
    </insert>

    <select id="applicationFormOf" resultType="workflow.domain.model.form.ApplicationForm">
        SELECT
            申請書.申請ID AS "id.value",
            申請書.金額 AS "amount.value",
            申請書.用途 AS "usage"
        FROM ワークフロー.申請書
        WHERE 申請ID = #{applicationFormId.value}
    </select>

</mapper>