<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>申請書</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>

<header th:replace="~{_parts/header :: main('申請')}"></header>
<div class="container">

  <h4 class="mb-3">申請内容</h4>
  <table class="table">
    <tr>
      <th style="width: 20%">金額</th>
      <td><span th:text="${workFlow.applicationForm.amount}">3000</span></td>
    </tr>
    <tr>
      <th>用途</th>
      <td><span th:text="${workFlow.applicationForm.usage}">交通費</span></td>
    </tr>
  </table>

  <hr>

  <form class="needs-validation" novalidate
        th:action="@{|/work-flows/${applicationFormId}/apply|}" th:method="post">
    <div class="row g-3 mb-3">
      <div class="col-sm-6">
        <label for="assignee" class="form-label">ステータス</label>
        <span th:text="${workFlow.workFlowStatus()}"></span>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-sm-6" th:unless="${workFlow.isOnCreating()}">
        <label for="assignee" class="form-label">申請者</label>
        <span th:text="${workFlow.applicantUser()}"></span>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-sm-6">
        <label for="assignee" class="form-label">承認者</label>
        <span th:text="${workFlow.assignedUser()}" th:unless="${workFlow.isOnCreating()}"></span>
        <select class="form-control" id="assignee"
                name="assignedUser"
                th:if="${workFlow.isOnCreating()}"
        >
          <option value ></option>
          <option th:each="authorizer: ${authorizers.list}"
                  th:value="${authorizer.name}"
                  th:inline="text"
                  th:selected="${authorizer.name() == workFlow.assignedUser()}"
          >
            [[${authorizer.name}]]
          </option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" th:if="${workFlow.isOnCreating() and isAssigned}">申請する</button>
  </form>

<!--  <span sec:authenticaiton="principal.loginUser" th:text="|Welcome ${userName} !! |">a</span>-->
<!--  <div th:if="${workFlow.isOnApplied(sec:authentication='name')}"-->

  <div class="g-3 mb-3 d-flex" th:if="${workFlow.isOnApplied() and isAssigned}">
  <form class="needs-validation m-1"
        th:action="@{|/work-flows/${applicationFormId}/approve|}" th:method="post">
<!--    TODO コメント-->
    <button type="submit" class="btn btn-primary">承認する</button>
  </form>

  <form class="needs-validation m-1"
        th:action="@{|/work-flows/${applicationFormId}/reject|}" th:method="post">
    <!--    TODO コメント-->
    <button type="submit" class="btn btn-warning">差し戻す</button>
  </form>

  <form class="needs-validation m-1"
        th:action="@{|/work-flows/${applicationFormId}/cancel|}" th:method="post">
    <!--    TODO コメント-->
    <button type="submit" class="btn btn-danger">却下する</button>
  </form>

  </div>
</div>
</body>
</html>